html
{
    height: 100%;
}

body
{
    background-color: #1d1d20;
    font-family: 'Poppins', sans-serif;
    height: 100%
}

::-webkit-scrollbar
{
    width: 6px;
}
    ::-webkit-scrollbar-track
{
    border-left: 1px solid #000;
}
    ::-webkit-scrollbar-thumb
{
    background: #8F7CEC;
}
    ::-webkit-scrollbar-thumb:hover 
{
    background: #8F7CEC;
}
    ::-webkit-scrollbar-thumb:window-inactive 
{
    background: #8F7CEC;
} 


                          /* Logowanie */

                          
#scr
{
    height: calc(100% - 25px);
    background: #242026;
    box-shadow: 0 15px 25px rgba(164, 162, 175, 0.7);
    border-radius: 10px;
}

h2
{
    color: #fff;
    font-size: 2rem;
}

.form
{
    width: 70%;
}

.container .user-box input
{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.container .user-box label 
{
    position: relative;
    left: 0;
    top: -50px;
    padding: 0px 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.container .user-box input:focus~label,
.container .user-box input:valid~label 
{
    top: -85px;
    left: 0;
    color: #8F7CEC;
    font-size: 0.8rem;
}

#submit 
{
    background-color: #1d1d20;
    padding: 10px 20px;
    color: #CBBDDB;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #8F7CEC;
    margin: auto;
}

#submit:hover 
{
    background: #8F7CEC;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8F7CEC, 0 0 50px #8F7CEC, 0 0 70px #8F7CEC;
}

.button
{
    text-align: center;
    margin-top: 20px;
}

#register 
{
    text-align: center;
    font-size: 0.8rem;
    text-decoration: none;
    color: #CBBDDB;
    width: 35%;
    margin-bottom: 18px;
}

#register a 
{
    color: #8F7CEC;
    text-decoration: none;
}


                          /* Rejestracja */


#registration_form
{
    width: 70%;
}

.container .register-box input
{
    position: relative;
    width: 100%;
    padding: 15px 0;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.container .register-box label
{
    position: relative;
    left: 0;
    top: -50px;
    padding: 0px 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.container .register-box input:focus~label,
.container .register-box input:valid~label 
{
    top: -85px;
    left: 0;
    color: #8F7CEC;
    font-size: 0.8rem;
}


                          /* MENU Główne */


.opcion
{
    margin: 40px;
	height: 40px;
    border-bottom: 1px solid #fff;
	text-align: center;
}

.opcionlogout
{
	text-align: center;
    font-size: 0.8rem;
}

a.opcionlink
{
    color: #fff;
	text-decoration: none;
}

.opcionlogout a
{
    color: #8F7CEC;
    text-decoration: none;
}


                          /* Dodaj przychód */


.field
{
    width: 70%;
}

#right
{
    width: 38px;
}

.input-group-text
{
    width: 110px;
    color: #8F7CEC;
}

textarea 
{
    resize: none;
}


                          /* Dodaj wydatek */


#pay_method
{
    width: 165px;
    color: #8F7CEC;
}


                          /* Bilans */


#okres
{
    width: 73px;
    color: #8F7CEC;
}

#tabela
{
    color: #8F7CEC;
}

.table-dark
{
    font-size: 0.8rem;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus 
{
  -webkit-text-fill-color: #fff;;
  -webkit-box-shadow: 0 0 0px 1000px #242026 inset;
}